
html,
body {
    height: 100vh;
}


body {
    background: url('./assets/img/background.png') top center  repeat-y;
    overflow: scroll;
}

.mainContainer {
    justify-content: center;
    text-align: center;
}

.pokedex {
    margin: auto;
    margin-top: 1.5rem;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    height: 30rem;
    text-align: center;
    border: 4px solid rgba(23, 170, 133, 0.34);
}

.pokemonImg {
    margin: auto;
    background-color: #0d4b916e;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

.pokemonImg>img {
    width: 10rem;
}

.fire {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.flying {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(61, 89, 188, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.ice {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(30, 152, 204, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.ghost {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(114, 30, 204, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.poison {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(56, 233, 139, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.psychic {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(203, 10, 246, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.electric {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(248, 238, 46, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.bug {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(141, 137, 53, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.water {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(12, 52, 254, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.grass {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(12, 254, 48, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.normal {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(225, 152, 237, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.ground {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(225, 171, 34, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.fighting {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(132, 97, 9, 0.936);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.steel {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(160, 160, 160, 0.936);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.dragon {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(119, 0, 245, 0.936);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.fairy {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(245, 69, 236, 0.505);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.rock {
    margin-top: 1rem;
    display: inline-block;
    background-color: rgba(158, 157, 152, 0.241);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0.1rem;
}

.typePokemon {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

.statTable {
    width: 100%;
    margin-top: 1rem;
}

.statTable tr {
    background-color: rgba(195, 221, 221, 0.16);
}

.statName {
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.statValue {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}


h1,
h2,
h3,
h4 {
    font-family: PokemonHollow;
}

.btn-buscar {}

.buscador {
    margin-bottom: 1.5rem;
}

.boxScroll{
    max-height: 100vh;
    scroll-behavior: auto;
}